# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (very important)
data/

# Models (optional but recommended)
*.pkl

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
